
// Bootstrap Variables
$icon-font-path: '../fonts/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

//colors
$lt-orange: #E67E22;
$dk-orange: #D35400;
$lt-deep-blue: #34495E;
$dk-deep-blue: #2C3E50;

//mixins
@mixin blur( $pixel ) {
  -webkit-filter: blur($pixel);
  -moz-filter: blur($pixel);
  -o-filter: blur($pixel);
  -ms-filter: blur($pixel);
  filter: blur($pixel);
}

@mixin header-a {
  color: $lt-deep-blue;
  transition: .2s ease-in-out;
  &:hover{
    color: $dk-orange;
    text-decoration: none;
  }
}
@mixin top-level-link {
  a{
    font-weight: 800;
    letter-spacing: 10px;
    padding: 5px 10px;
    border: 2px solid $lt-deep-blue;
    font-size: 20px;
    &:hover{
      border: 2px solid $dk-orange;
      background: rgba(255, 255, 255, .5);
    }
  }
}

@mixin button-style {
  background: none;
  border: 2px solid $lt-deep-blue;
  padding: 5px 10px;
  font-weight: 800;
  letter-spacing: 1px;
  font-size: 14px;
  border-radius: 0;
  &:hover{
    background: rgba(255, 255, 255, .5);
  }
  &:active, &:focus{
    outline: none;
  }
}

//global styles / resets
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

svg {
  fill: currentColor;
}

ul{
  margin: 0;
  padding: 0;
}
.divider{
  border-bottom: 1px solid $lt-orange;
  content: '';
  padding: 4px 0;
  margin: 0;
}

//------------------------------------------------------------------------------
//                    STYLES TO SET THE BACKGROUND
//------------------------------------------------------------------------------
html{
  background-color: $dk-deep-blue;
}
body{
  height: 100%;
}
#bg{
  background: url('../images/thai-bowl.jpg') center center fixed;
}
#bg-overlay{
  background-color: rgba(255, 255, 255, .5);
}
#order-bg, #item-bg, #bg-overlay, #bg{
  position: fixed;
  height: 100%;
  width: 100%;
}
#order-bg{
  background: url('../images/thai-bowl-2.jpg') center center fixed;
  opacity: 1;
}

#item-bg{
  background: url('../images/thai-bowl-3.jpg') center center fixed;
  opacity: 1;
}

//------------------------------------------------------------------------------
//                    STYLES FOR THE TOP NAV / HEADER BAR
//------------------------------------------------------------------------------
$header-el-ht: 40px; //height for header elements

//set bootstrap columns on our top level divs
#logo, #social{
  @include make-sm-column(3);
}
#order-now{
  @include make-sm-column(6);
}

.top-full-width{
  padding-top: 10px;
  padding-bottom: 10px;
  a{
    @include header-a;
  }
}

#logo{
  svg{
    height: $header-el-ht;
  }
}

#logo, #order-now, #social{
  text-align: center;
  margin-bottom: 20px;
}

#order-now, #social{
  a{
    display: inline-block;
    height: $header-el-ht;
    font-family: 'Raleway', sans-serif;
  }
}

#order-now{
  @include top-level-link;
}

#social{
  a{
    font-size: 30px;
    padding: 5px 30px;
  }
}

//------------------------------------------------------------------------------
//                        STYLES FOR MAIN INFO BOX
//------------------------------------------------------------------------------

#infotainer{
  @include make-sm-column(10);
  @include make-sm-column-offset(1);
}
.info-holder{
  position: relative;
  padding: 0;
  margin-top: 30px;
}
@keyframes slideup {
  0% { transform: translateY(250%); }
  90% { transform: translateY(-5%); }
  100% { transform: translateY(0); }
}

.info-abs{
  width: 100%;
}
.infotainer-header{
  @include make-row();
  margin-top: 20px;
}

.info-header-block{
  @include make-xs-column(6);
  text-align: center;
}
.info-header-constrain{
  background: rgba(255,255,255, .75);
  padding: 10px;
  height: 350px;
}
.info-header-title{
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}
.hours-day, .hours-hours{
  width: 50%;
  display: inline-block;
}
.hours-day{
  text-align: left;
}
.hours-hours{
  margin-left: -4px;
}
.infotainer-body{
  height: 350px;
}
.body-title{
  margin-bottom: 0;
}
.body-body{
  margin-top: 10px;
}
//------------------------------------------------------------------------------
//            EXTRA STYLES FOR DESKTOP / LARGER RESOLUTION DISPLAYS
//------------------------------------------------------------------------------
@media (min-width: $screen-sm-min) {
  #bg{
    background: url('../images/thai-bowl.jpg') top center no-repeat;
    background-size: cover;
  }
  #logo, #order-now, #social{
    margin-bottom: 0;
  }
  #bg-overlay{
    // background: none;
  }
  #logo{
    text-align: left;
  }
  #social{
    text-align: right;
    a{
      font-size: 24px;
      padding: 5px 10px;
    }
  }
  .infotainer-header{
    margin-top: 0;
  }

  .info-holder{
    margin-top: 300px;
    transform: translateY(250%);
    animation: slideup ease-in;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
  }
  .info-abs{
    position: absolute;
    width: 100%;
    top: 0;
  }
  .info-header-constrain{
    width: 50%;
  }
  .constrain-contact{

  }
  .constrain-hours{
    margin-left: 50%;
  }
}


//------------------------------------------------------------------------------
//                        STYLES FOR ORDER PAGE ELEMENTS
//------------------------------------------------------------------------------
.order-holder{
  position: relative;
  @include make-row();
}
.order-accordion{
  @include make-xs-column(6);
  @include make-xs-column-offset(1);
}
.order-sidebar{
  @include make-xs-column(4);
}
.placeholder{
  width: 100%;
  height: 150px;
  background: red;
  content: '';
}
.order-panel{
 border: 2px solid $lt-deep-blue;
 padding: 0;
 margin-bottom: 25px;
 transition: .2s ease-in-out;
 &:hover{
   background: rgba(255, 255, 255, .5);
 }
}
.order-panel-title{
  text-align: center;
  padding: 10px;
  margin: 0;
    &>*{
      color: $lt-deep-blue;
      transition: .2s ease-in-out;
      text-transform: uppercase;
      font-weight: 800;
      letter-spacing: 10px;
      font-size: 20px;
    }
  }

.order-panel-title, .order-panel-title a{
  color: $lt-deep-blue;
  transition: .2s ease-in-out;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 10px;
  font-size: 20px;
  &:hover{
    text-decoration: none;
  }
}
.order-panel-collapse{
  border-top: 2px solid $lt-deep-blue;
  text-align: left;
  padding: 10px;
}
.menu-item-detail{
  padding: 10px 0;
  // cursor: pointer;
  &:not(:last-of-type){
    border-bottom: 1px solid $lt-deep-blue;
  }
}
.item-detail-bottom{
  text-align: right;
}
.item-title, .item-price{
  display: inline-block;
}
.item-title{
  font-weight: 800;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}
.item-price{
  margin-left: -4px;
  margin-right: 10px;
  text-align: right;
  font-style: italic;
  font-size: 16px;
}
.total-price{
  display: inline-block;
  width: 100%;
  text-align: right;
  font-weight: bold;
  font-style: italic;
  font-size: 16px;
  padding-right: 10px;
}
.item-option{
  margin-left: 10px;
  font-weight: bold;
  font-style: italic;
}
.order-remove{
  @include button-style;
  color: $lt-deep-blue;
  margin-right: 15px;
}


.options-form{
  margin-top: 10px;
  margin-bottom: 10px;

}
.options-left, .options-right{
  display: inline-block;
  width: 50%;
}
.options-left{
  text-align: left;
}
.options-right{
  text-align: right;
  margin-left: -4px;
  input{
    width: 15%;
    color: $dk-deep-blue;
    background: none;
    border: 2px solid $lt-deep-blue;
    text-align: center;
    margin-right: 5%;
    padding: 5px;
  }
  button{
    @include button-style;
  }
}

.submit-order{
  @include button-style;
  margin-top: 10px;
  width: 100%;
}

.dropdown{
  margin-right: 5%;
  button{
    @include button-style;
    text-transform: uppercase;
  }
  .btn-xs, .btn-group-xs > .btn{
    padding: 5px 10px;
  }
}

.btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle{
  background: rgba(255,255,255, .75);
  border: 2px solid $lt-deep-blue;
}

.btn-default:active:hover, .btn-default:active:focus, .btn-default:active.focus, .btn-default.active:hover, .btn-default.active:focus, .btn-default.active.focus, .open > .btn-default.dropdown-toggle:hover, .open > .btn-default.dropdown-toggle:focus, .open > .btn-default.dropdown-toggle.focus{
  background: rgba(255,255,255, .75);
  border: 2px solid $lt-deep-blue;
}
.btn-default:hover{
  border: 2px solid $lt-deep-blue;
}
.dropdown-menu {
  background: rgba(255,255,255, .95);
  border: 2px solid $lt-deep-blue;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
  background-color: $dk-deep-blue;
  color: white;
  font-weight: bold;
}
