
// Bootstrap Variables
$icon-font-path: '../fonts/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

//colors
$lt-orange: #E67E22;
$dk-orange: #D35400;
$lt-deep-blue: #34495E;
$dk-deep-blue: #2C3E50;

//mixins
@mixin blur( $pixel ) {
  -webkit-filter: blur($pixel);
  -moz-filter: blur($pixel);
  -o-filter: blur($pixel);
  -ms-filter: blur($pixel);
  filter: blur($pixel);
}

@mixin header-a {
  color: $lt-deep-blue;
  transition: .2s ease-in-out;
  &:hover{
    color: $dk-orange;
    text-decoration: none;
  }
}

//global styles / resets
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

svg {
  fill: currentColor;
}

ul{
  margin: 0;
  padding: 0;
}
.divider{
  border-bottom: 1px solid $lt-orange;
  content: '';
  padding: 4px 0;
  margin: 0;
}

//------------------------------------------------------------------------------
//                    STYLES TO SET THE BACKGROUND
//------------------------------------------------------------------------------
html{
  background-color: $dk-deep-blue;
}
body{
  height: 100%;
}
#bg{
  position: relative;
  background: url('../images/thai-bowl.jpg') center center fixed;
}
#bg-overlay{
  background-color: rgba(255, 255, 255, .5);
}
#order-bg, #item-bg, #info-bg, #bg-overlay, #bg{
  position: fixed;
  height: 100%;
  width: 100%;
}
#order-bg{
  // background-color: yellow;
  // opacity: .15;
  // content: '';
}

//------------------------------------------------------------------------------
//                    STYLES FOR THE TOP NAV / HEADER BAR
//------------------------------------------------------------------------------
$header-el-ht: 40px; //height for header elements

//set bootstrap columns on our top level divs
#logo, #social{
  @include make-sm-column(3);
}
#order-now{
  @include make-sm-column(6);
}

.top-full-width{
  padding-top: 10px;
  padding-bottom: 10px;
  a{
    @include header-a;
  }
}

#logo{
  svg{
    height: $header-el-ht;
  }
}

#logo, #order-now, #social{
  text-align: center;
  margin-bottom: 20px;
}

#order-now, #social{
  a{
    display: inline-block;
    height: $header-el-ht;
    font-family: 'Raleway', sans-serif;
  }
}

#order-now{
  a{
    font-weight: 800;
    letter-spacing: 10px;
    padding: 5px 10px;
    border: 2px solid $lt-deep-blue;
    font-size: 20px;
    &:hover{
      border: 2px solid $dk-orange;
      background: rgba(255, 255, 255, .5);
    }
  }
}

#social{
  a{
    font-size: 30px;
    padding: 5px 30px;
  }
}

//------------------------------------------------------------------------------
//                        STYLES FOR MAIN INFO BOX
//------------------------------------------------------------------------------

#infotainer{
  @include make-sm-column(10);
  @include make-sm-column-offset(1);
}
.info-holder{
  position: relative;
  padding: 0;
  margin-top: 30px;
}
@keyframes slideup {
  0% { transform: translateY(250%); }
  90% { transform: translateY(-5%); }
  100% { transform: translateY(0); }
}

.info-abs{
  width: 100%;
}
.infotainer-header{
  @include make-row();
  margin-top: 20px;
}

.info-header-block{
  @include make-xs-column(6);
  text-align: center;
}
.info-header-constrain{
  background: rgba(255,255,255, .75);
  padding: 10px;
  height: 300px;
}
.info-header-title{
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}
.hours-day, .hours-hours{
  width: 50%;
  display: inline-block;
}
.hours-day{
  text-align: left;
}
.hours-hours{
  margin-left: -4px;
}
.infotainer-body{
  height: 300px;
}
//------------------------------------------------------------------------------
//            EXTRA STYLES FOR DESKTOP / LARGER RESOLUTION DISPLAYS
//------------------------------------------------------------------------------
@media (min-width: $screen-sm-min) {
  #bg{
    background: url('../images/thai-bowl.jpg') top center no-repeat;
    background-size: cover;
  }
  #logo, #order-now, #social{
    margin-bottom: 0;
  }
  #bg-overlay{
    // background: none;
  }
  #social{
    text-align: right;
    a{
      font-size: 24px;
      padding: 5px 10px;
    }
  }
  .infotainer-header{
    margin-top: 0;
  }

  .info-holder{
    margin-top: 300px;
    transform: translateY(250%);
    animation: slideup ease-in;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
  }
  .info-abs{
    position: absolute;
    width: 100%;
    top: 0;
  }
  .info-header-constrain{
    width: 50%;
    margin: 0 auto;
  }
}
